body{
    background-color: cadetblue;
}
h1{
    text-align: center;
    color: floralwhite;
}

h3 {
    color: floralwhite;
}
.column {
    border: 5px solid black;
    width: 30%;
    height: 500px;
    float: left;
    margin: 15px;
    background-color: burlywood;
}
img {
    width: 60%;
    margin-inline-start: 20%;
}
.column p{
    text-align: center;
    font-family: fantasy;
}
.column h2{
    text-align: center;
    color: firebrick;
}
h3{
    text-align: center;
}
.column h3{
    text-align: center;
    color: darkred;
}

span{

    font-weight: bold;
    color: floralwhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
} 