body{
    background-color: cadetblue;
}
h1{
    text-align: center;
}


.column {
    border: 5px solid black;
    width: 30%;
    height: 500px;
    float: left;
    margin: 15px;
    background-color: burlywood;
}
img {
    width: 60%;
    margin-inline-start: 20%;
}

.column p{
    text-align: center;
}